.tag {
	color:#729ECE;
  font-weight: bold;
	margin:0;
	display:block;
}
.entities {
	color:#987396;
  font-style: italic;
}
blockquote {
	margin:0 0 0 15px;
}
b {
	font-weight:bold;
}
.literal {
	color:#EBD200;
  font-weight:normal;
}
.comment {
	color:#CCCCCC;
	display:block;
}

